:root {
    --primary-color: #ff6161;
    --secondary-color: #ff5959;
    --tersiary-color: #f05151;
    --header-color-primary: #2d2e2e;
    --header-color-secondary: grey;
    --pending-task-color: #4d4f4f;
    --complete-task-color: var(--primary-color);
    --footer-icon-color: --header-color-primary;
    --popup-border: transparent;
    --popup-hover-color: #a6abad;
    --popup-primary-color: #616263;
    --popup-secondary-color: #45464a;
  }
  
  * {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: inherit;
            box-sizing: inherit;
    overflow: -moz-scrollbars-none;
    scrollbar-width: none;
    -ms-overflow-style: none;
  }
  
  *::after, *::before {
    display: inline-block;
  }
  
  *::-webkit-scrollbar {
    display: none;
  }
  
  html {
    font-size: 62.5%;
  }
  
  body {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    min-height: 100vh;
    width: 100vw;
    font-family: sans-serif;
    overflow: hidden;
  }
  
  .container {
    position: absolute;
    width: 100vw;
    min-height: 100vh;
    background-color: white;
  }
  
  .todo {
    height: 100%;
    display: -ms-grid;
    display: grid;
    gap: 1rem;
    grid-template-rows: -webkit-min-content auto;
    grid-template-rows: min-content auto;
    -ms-grid-rows: min-content auto;
  }
  
  .todo__header {
    display: -ms-grid;
    display: grid;
    grid-template-columns: auto auto;
    -ms-grid-columns: auto auto;
    grid-auto-rows: -webkit-min-content;
    grid-auto-rows: min-content;
    -ms-grid-rows: min-content;
    gap: 0.5rem;
  }
  
  .todo__header__1 {
    font-size: 6rem;
    font-weight: bold;
    color: var(--header-color-primary);
  }
  
  .todo__header__2 {
    font-size: 5rem;
    color: var(--header-color-secondary);
    font-weight: lighter;
    -ms-grid-column: 1;
    grid-column: 1/1;
  }
  
  .todo__header__3 {
    -ms-grid-column: 2;
    grid-column: 2/2;
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    grid-row: 1 / span 2;
    font-size: 2.5rem;
    color: var(--header-color-secondary);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
  
  .todo__header__3 div[class="material-icons"] {
    font-size: 3rem;
    width: 3.2rem;
    color: var(--primary-color);
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    -ms-flex-negative: 0;
        flex-shrink: 0;
  }
  
  .todo__header__3 div[class="material-icons"]::after {
    content: "add_circle";
  }
  
  .todo__header__3 div[class="material-icons"]:hover, .todo__header__3 div[class="material-icons"]:active {
    font-size: 3.2rem;
    color: var(--secondary-color);
    -webkit-transform: translateY(-10%);
            transform: translateY(-10%);
  }
  
  .todo__header__3 div[class="material-icons"]:active {
    font-size: 3rem;
    -webkit-transform: translateY(25%);
            transform: translateY(25%);
    color: var(--tersiary-color);
  }
  
  .todo__tasks {
    font-size: 2rem;
    display: -ms-grid;
    display: grid;
    grid-auto-rows: -webkit-max-content;
    grid-auto-rows: max-content;
    -ms-grid-rows: max-content;
    overflow-y: scroll;
  }
  
  .todo__tasks__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 1rem;
    border: thin solid var(--primary-color);
    border-radius: 0.25em;
    padding: .5em 0 0 .5em;
    margin-bottom: 1em;
    -webkit-box-shadow: 0 0.5em rgba(0, 0, 0, 0.1);
            box-shadow: 0 0.5em rgba(0, 0, 0, 0.1);
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
  }
  
  .todo__tasks__list__name {
    display: -ms-grid;
    display: grid;
    grid-template-columns: auto -webkit-min-content -webkit-min-content;
    grid-template-columns: auto min-content min-content;
    -ms-grid-columns: auto min-content min-content;
    border-bottom: 1px solid var(--popup-secondary-color);
    margin-right: .5em;
  }
  
  .todo__tasks__list__name__link {
    -ms-grid-column: 1;
    grid-column: 1;
    -ms-grid-row: 1;
    grid-row: 1;
    place-self: center;
    text-decoration: none;
    color: var(--primary-color);
  }
  
  .todo__tasks__list__name--edit, .todo__tasks__list__name--delete {
    width: 2.5rem;
    min-height: 2.5rem;
    text-align: right;
  }
  
  .todo__tasks__list__name--edit span, .todo__tasks__list__name--delete span {
    font-size: 2.5rem;
    color: var(--primary-color);
  }
  
  .todo__tasks__list__name--edit span:hover, .todo__tasks__list__name--edit span:active, .todo__tasks__list__name--delete span:hover, .todo__tasks__list__name--delete span:active {
    font-size: 2rem;
    color: var(--popup-primary-color);
  }
  
  .todo__tasks__list__name--edit span:active, .todo__tasks__list__name--delete span:active {
    -webkit-transform: translateY(15%);
            transform: translateY(15%);
  }
  
  .todo__tasks__list__name--edit {
    -ms-grid-column: 2;
    grid-column: 2;
  }
  
  .todo__tasks__list__name--edit span::after {
    content: "drive_file_rename_outline";
  }
  
  .todo__tasks__list__name--delete {
    -ms-grid-column: 3;
    grid-column: 3;
  }
  
  .todo__tasks__list__name--delete span::after {
    content: "delete_sweep";
  }
  
  .todo__tasks__list__task {
    font-family: monospace;
    color: var(--pending-task-color);
    overflow-y: scroll;
    margin: 0.5rem;
  }
  
  .todo__tasks__list__task--scroll {
    overflow-y: scroll;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    padding: .1rem;
  }
  
  .todo__tasks__list__task input[type="checkbox"] {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
    margin: .5rem;
  }
  
  .todo__tasks__list__task input[type="checkbox"]:checked {
    opacity: 5%;
  }
  
  .todo__tasks__list__task input[type="checkbox"]:checked + lable {
    color: var(--complete-task-color);
    text-decoration: line-through;
  }
  
  .todo__tasks__list__task--input {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 0.5em;
    margin: .5rem 0;
  }
  
  .todo__tasks__list__task--input textarea {
    font-size: 2rem;
    width: 80%;
    resize: vertical;
    border: 0.1rem solid var(--popup-primary-color);
    border-radius: .2em;
  }
  
  .todo__tasks__list__task--input lable {
    color: greenyellow;
  }
  
  .todo__tasks__list__task--input lable:hover {
    -webkit-transform: translateY(-10%);
            transform: translateY(-10%);
  }
  
  .todo__tasks__list__task--input lable:active {
    -webkit-transform: translateY(10%);
            transform: translateY(10%);
  }
  
  .todo__tasks__list__task--mod {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: end;
    gap: 1rem;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  
  .todo__tasks__list__task--mod button {
    font-size: 1.5rem;
    padding: .1em 1em;
    border: 0;
    border-radius: 0.5em;
    color: white;
    margin: 0.2em 0;
  }
  
  .todo__tasks__list__task--mod button:first-child {
    background-color: yellow;
  }
  
  .todo__tasks__list__task--mod button:first-child::before {
    content: "Edit";
  }
  
  .todo__tasks__list__task--mod button:first-child:hover, .todo__tasks__list__task--mod button:first-child:active {
    font-size: 1.4rem;
    background-color: #ffe711;
  }
  
  .todo__tasks__list__task--mod button:last-child {
    background-color: var(--primary-color);
  }
  
  .todo__tasks__list__task--mod button:last-child::before {
    content: "Delete";
  }
  
  .todo__tasks__list__task--mod button:last-child:hover, .todo__tasks__list__task--mod button:last-child:active {
    font-size: 1.4rem;
    margin: 0 .2em;
    background-color: var(--tersiary-color);
  }
  
  .todo__tasks__list__task--mod button:active {
    -webkit-transform: translateY(10%);
            transform: translateY(10%);
  }
  
  .todo__tasks__list__icon {
    color: var(--primary-color);
    text-align: right;
  }
  
  .todo__tasks__list__icon span {
    font-size: 2.5rem;
  }
  
  .todo__tasks__list__icon span:first-child::after {
    content: "add_box";
  }
  
  .todo__tasks__list__icon span:first-child:hover, .todo__tasks__list__icon span:first-child:active {
    font-size: 2rem;
    color: var(--popup-primary-color);
  }
  
  .todo__tasks__list__icon span:first-child:active {
    -webkit-transform: translateY(10%);
            transform: translateY(10%);
  }
  
  .todo__tasks__list__icon span:last-child {
    background-clip: text;
    -webkit-background-clip: text;
  }
  
  .todo__tasks__list__icon span:last-child::after {
    content: "refresh";
  }
  
  .todo__tasks__list__icon span:last-child:hover, .todo__tasks__list__icon span:last-child:active {
    font-size: 2rem;
  }
  
  @-webkit-keyframes rotate {
    from {
      -webkit-transform: rotate(0turn);
              transform: rotate(0turn);
      background-image: linear-gradient(45deg, var(--primary-color), var(--primary-color), white, var(--primary-color), var(--primary-color));
    }
    to {
      -webkit-transform: rotate(2turn);
              transform: rotate(2turn);
      background-image: linear-gradient(135deg, var(--primary-color), var(--primary-color), white, var(--primary-color), var(--primary-color));
    }
  }
  
  @keyframes rotate {
    from {
      -webkit-transform: rotate(0turn);
              transform: rotate(0turn);
      background-image: linear-gradient(45deg, var(--primary-color), var(--primary-color), white, var(--primary-color), var(--primary-color));
    }
    to {
      -webkit-transform: rotate(2turn);
              transform: rotate(2turn);
      background-image: linear-gradient(135deg, var(--primary-color), var(--primary-color), white, var(--primary-color), var(--primary-color));
    }
  }
  
  .pop-up {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    top: 0;
    opacity: 0;
    background: white;
    border: thin solid var(--popup-border);
    border-radius: 0.5em;
    padding: 0.5em;
    display: -ms-grid;
    display: grid;
    place-items: center stretch;
    font-size: 2rem;
    -webkit-transition: opacity 0.1s ease-out, top 0.5s;
    transition: opacity 0.1s ease-out, top 0.5s;
    min-width: 80vw;
    max-height: 80vh;
    grid-template-rows: -webkit-min-content -webkit-min-content;
    grid-template-rows: min-content min-content;
    -ms-grid-rows: min-content min-content;
    grid-auto-rows: 1fr;
    -ms-grid-rows: 1fr;
    visibility: collapse;
  }
  
  .pop-up__container {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.2);
    height: 100vh;
    width: 100vw;
    z-index: -1;
  }
  
  .pop-up > :nth-child(n):not(:last-child):not(.pop-up__close) {
    margin-bottom: .5em;
  }
  
  .pop-up__header {
    font-size: inherit;
    color: var(--primary-color);
    -ms-grid-column-align: center;
        justify-self: center;
  }
  
  .pop-up__close {
    -ms-grid-row: 1;
    grid-row: 1;
    place-self: end;
    color: var(--popup-primary-color);
  }
  
  .pop-up__close:hover, .pop-up__close:active {
    font-size: .8em;
  }
  
  .pop-up__close:active {
    -webkit-transform: translateY(5%);
            transform: translateY(5%);
  }
  
  .pop-up__input {
    font-size: inherit;
    color: var(--popup-primary-color);
    border: thin solid var(--primary-color);
    border-radius: 0.2em;
  }
  
  .pop-up__input:focus {
    outline: var(--secondary-color) solid 1px;
    color: black;
    font-size: 1.1em;
  }
  
  .pop-up__btn {
    font-size: inherit;
    background: var(--primary-color);
    border-radius: 0.5em;
    padding: 0.1em 1.5em;
    border: none;
    color: white;
    -ms-grid-column-align: center;
        justify-self: center;
  }
  
  .pop-up__btn:hover, .pop-up__btn:active {
    font-size: .8em;
    -webkit-box-shadow: 0.1em 0.2em rgba(0, 0, 0, 0.25);
            box-shadow: 0.1em 0.2em rgba(0, 0, 0, 0.25);
    -webkit-transform: translateY(-10%);
            transform: translateY(-10%);
  }
  
  .pop-up__btn:active {
    background: var(--secondary-color);
    -webkit-transform: revert;
            transform: revert;
  }
  
  .pop-up__body {
    height: 100%;
    color: var(--popup-primary-color);
    margin: 2rem;
    word-spacing: 0.5em;
    overflow-y: scroll;
  }
  
  .pop-up__body--animation {
    place-self: center;
    font-size: 5rem;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    -webkit-animation: rotate 1.5s;
            animation: rotate 1.5s;
  }
  
  .pop-up__body--animation::after {
    content: 'autorenew';
  }
  
  .pop-up__body--primary {
    background-image: -webkit-gradient(linear, left top, right top, from(white), color-stop(80%, yellow), to(white));
    background-image: linear-gradient(to right, white, yellow 80%, white);
  }
  
  .pop-up__body--secondary {
    background-image: -webkit-gradient(linear, left top, right top, from(white), color-stop(aqua), to(white));
    background-image: linear-gradient(to right, white, aqua, white);
  }
  
  .pop-up__body--tertiary {
    color: slategray;
  }
  
  .pop-up__body code {
    color: var(--primary-color);
    font-weight: 600;
  }
  
  .pop-up__body > *:nth-child(n+2) {
    margin-top: .5em;
  }
  
  #loading-animation {
    background-color: transparent;
  }
  
  @media (min-width: 44em) {
    .todo {
      position: absolute;
      top: 20%;
      left: 50%;
      -webkit-transform: translate(-50%, -20%);
              transform: translate(-50%, -20%);
      height: unset;
      max-height: 90vh;
      width: 100vw;
    }
    .todo__header {
      grid-template-columns: -webkit-min-content -webkit-min-content auto;
      grid-template-columns: min-content min-content auto;
      -ms-grid-columns: min-content min-content auto;
      padding: 0 4vw;
    }
    .todo__header__2 {
      -ms-grid-column: 2;
      grid-column: 2/2;
      -ms-flex-item-align: end;
          align-self: flex-end;
    }
    .todo__header__3 {
      -ms-grid-column-align: end;
          justify-self: end;
      -ms-grid-column: 3;
      grid-column: 3/3;
      -ms-grid-row: 1;
      grid-row: 1/1;
      gap: 1rem;
    }
    .todo__header__3 div[class="material-icons"] {
      font-size: 4rem;
      width: 4.2rem;
    }
    .todo__header__3 div[class="material-icons"]:hover, .todo__header__3 div[class="material-icons"]:active {
      font-size: 4.2rem;
    }
    .todo__header__3 div[class="material-icons"]:active {
      font-size: 4rem;
    }
    .todo__tasks {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      gap: 2%;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      padding-right: 1em;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
      padding: 0 4vw;
    }
    .todo__tasks__list {
      -webkit-box-flex: 0;
          -ms-flex: 0 0 32%;
              flex: 0 0 32%;
      -webkit-box-shadow: 0.5em 0.5em rgba(0, 0, 0, 0.1);
              box-shadow: 0.5em 0.5em rgba(0, 0, 0, 0.1);
      max-height: 50vh;
    }
    .todo__tasks__list__task--scroll {
      overflow-y: scroll;
    }
    .pop-up {
      min-width: 40%;
      min-height: 21%;
    }
  }
  
  @media (max-width: 43em) {
    .todo {
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
              transform: translate(-50%, -50%);
      width: 90vw;
    }
    .todo__header {
      padding: 0px 3rem;
    }
    .todo__header__1, .todo__header__2 {
      place-self: flex-end flex-start;
    }
    .todo__header__3 {
      place-self: center flex-end;
    }
    .todo__tasks {
      padding: 0px 3rem;
    }
    .todo__tasks__list {
      max-height: 70vh;
    }
  }
  /*# sourceMappingURL=style.css.map */